.scene {
  @media (min-width: $desktop-breakpoint) {
    width: 130px;
    height: 130px;
}
  
  border: 1px solid #CCC;
  perspective: 600px;
  width: 100px;
  height: 100px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 95px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 65px;
  @media (min-width: $desktop-breakpoint) {
    line-height: 95px;
    font-size: 20px;
}
}

.difficulty-ranges {
  display: flex;
  div {
    padding-right: 30px;
  }
}

.page {
  margin-left: 0px;
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    align-items: flex-start;
    margin-left: 50px;

}
button {
  width: 290px;
  border-radius: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: $dark-blue;
  padding: 10px;
  color: $dark-blue;
}
}

.card__face--front {
  background: $dark-blue;
}

.card__face--back {
  background: $dark-blue;;
  transform: rotateY(180deg);
}

.row {
  display: flex;
}

.ranges {
  margin-left: 18px;
  margin-right: 40px;
  @media (min-width: $desktop-breakpoint) {
    margin-left: 40px;
    margin-top: 15px;
  }
}

.radio-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 336px;
}

.grid {
    margin-left: 23px;
    margin: 30px;
    display: flex;
    width: 33.333%;
    flex-wrap: wrap;
    align-content: flex-end;
    @media (min-width: $desktop-breakpoint) {
      margin-left: 80px;
      margin-left: 270px;
      width: 33.333%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-end;
      margin: 50px;
      
  }
}

.radio-starting-point {
  width: 33.333%
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

@keyframes backgroundTransitionMain {
  0%   {background-color: gray; }
  100% {background-color: $dark-blue}
}

.keyFrameDiv {
  -webkit-animation: backgroundTransitionMain 5s; /* Safari 4.0 - 8.0 */
  animation: backgroundTransitionMain 2s;
  animation-iteration-count: 1;
}

.optstarts {
  display: flex;
}

.para-instruc-start {
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 30px;
  @media (min-width: $desktop-breakpoint) {
    margin-left: 370px;
    margin-bottom: 0px;

  }
}

