// colours
$dark-grey: #333333;
$grey: #666;
$blue: #2990c2;
$dark-blue: #364051;
// font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$off-white: #f7f7f7;

// spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 65rem;
// spacing
// m-size

