// colours
$dark-grey: #333333;
$light-blue: #464b5e;
$grey: #666;
$blue: #2B2D42;
$dark-blue: #2B2D42;
// font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$off-white: #f7f7f7;

// spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 65rem;
// spacing
// m-size

// Colors
$off-black: #20222b;
$purple: #8357c5;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
